<!DOCTYPE html>
<html>

<head>
    <title>The best property agency in UK</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">
    <script type='text/javascript'
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
    <style type='text/css'>
        .row-index {
            width: 50px;
            display: inline-block;
        }
    </style>


</head>

<body>
    <h1 class="text-center">The Best Property Agency in The UK</h1>
    <p class="text-center">
        <a href="{{ url_for('home') }}">Home</a>
    </p>
    {% block body %}
    {% endblock body %}
</body>

</html>